.sectionCard {
    position: relative;

}

.figure {
    height: 70vh;
    width: 90vw;
    position: relative;
    @media screen and (min-width: 1080px) {

        height: 55vh;
        width: 25vw;

    }
    @media screen and (min-width: 1281px) {

   height: 55vh;
    width: 18vw;

    }


}

.image{
    object-fit: cover;
    border-radius: var(--large-radius);
    filter : contrast(1.1) brightness(1.1) saturate(1.2) blur(-5px);
    @media screen and (min-width: 768px) {

    }
}

.articleDesc{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 71vh;
    padding: 1vh 0;
    @media screen and (min-width: 1080px) {
        height: 56vh;

    }
}

.sectionLink{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    padding: 0 1vw;
    align-items: center;
    font-family: var(--title-font), sans-serif;
    color: var(--white-pure);
    @media screen and (min-width: 1080px) {
        width: 25vw;

    }
    @media screen and (min-width: 1281px) {
        width: 18vw;

    }
}

.sectionInfo {
    color: var(--yellow-school-bus);
    padding: 4vh 2vw;
    background-color: var(--black-dark);
    border-bottom-left-radius: var(--large-radius);
    border-bottom-right-radius: var(--large-radius);
    min-height: 25vh;
    position: relative;
    @media screen and (min-width: 1080px) {
        padding: 4vh 0.5vw;

    }

}

.articleDesc .sectionInfo{
    opacity: 0;
    transform: translateY(20vh);
    transition: transform .4s ease-in-out, opacity 0.2s ease-in-out;

}

.articleDesc:hover .sectionInfo {
    opacity: 0.8;
    transform: translateY(0vh);

}
.h2 {
    font-size: 2em;

}
.syno{
    font-size: 1.2em;
    font-weight: lighter;

}

.type {
    border-radius: var(--small-radius);
    background-color: var(--black-night);
    padding: 0.2vh 1.2vw;
    color: var(--white-platinium);
    @media screen and (min-width: 1080px) {
        padding: 0.2vh 0.3vw;

    }
}
.articleDesc .type {
    opacity: 0;
    transform: translateY(-20px);
    transition: transform .3s ease-in-out;

}
.articleDesc:hover  .type{
    opacity: 1;
    transform: translateY(0);

}

.articleDesc .arrow{
    background-color: var(--black-night);
    border-radius: 50%;
    color: var(--white-platinium);
    transform: rotate(0deg);
    transition: transform .3s ease-in-out;

}

.articleDesc:hover .arrow{
    color: var(--yellow-school-bus);
    transform: rotate(-45deg);

}