.sectionContact{
    width : 90vw;
    margin: 10vh auto;
    position: relative;
    padding: 1em;
    background-color: var(--grey-davy);
    border-radius: var(--large-radius);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    @media screen and (min-width: 1281px) {
        width : 70vw;
        padding: 2em;

    }
}

.h2{
    text-align: left;
    font-size: var(--title-responsive);
    color: var(--white-platinium);
    padding-bottom: 1em;
    border-bottom: 2px solid var(--white-platinium);

    @media screen and (min-width: 1080px) {
        letter-spacing: 0.1em;
        font-size: var(--title-size);

    }
}

.article {
    display: flex;
    flex-direction: column;
    margin: 2em 0;

    @media screen and (min-width: 1080px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2em 0;

    }
}

.article section{
    background-color: var(--blue-nuance);
    padding: 0.5em;
    border-radius: var(--large-radius);
    margin: auto;
    width: 80vw;
    align-items: center;

    @media screen and (min-width: 1080px) {
        padding: 2em;
        width: 30vw;
        margin: 0;
    }
}
.article:nth-of-type(3) section{
    display: flex;
    flex-direction: row;
   justify-content: center;
    @media screen and (min-width: 1080px) {
        justify-content: left;
        padding: 2em;
        width: 30vw;
        margin: 0;
    }
}

.h3{
    font-size: 2em;
    color: var(--white-platinium);
    letter-spacing: 0.1em;
    padding-bottom: 0.5em;

    @media screen and (min-width: 1080px) {
        padding-bottom: 0;
    }
}

.article p,
.article a{
    color: var(--white-platinium);
    text-decoration: none;
    font-size: 1.5em;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    text-align: center;
    display: block;
    @media screen and (min-width: 1080px) {
        text-align: left;
    }

}

.link{
    position: absolute;
    right: 1vw;
    top: 1vh;

}