.nav{
    display: flex;
    margin : var(--margin-top) 2vw;
    justify-content: space-between;
    align-items: center;
}
.h2{
    color : var(--white-pure);
    font-family: var(--title-font) sans-serif;
    letter-spacing: var(--letter-spacing);
    width: 11vw;
}
.ul {
    display: flex;
    width : 25vw;
    justify-content: space-between;
    padding: var(--padding);
    border-radius: var(--large-radius);
    background-color: var(--blue-nuance);
}
.li {
    list-style: none;
}
.link{
    text-decoration: none;
    color : var(--white-pure);
    letter-spacing: 0.1em;
}
.link:hover{
    color: var(--yellow-school-bus);
}