.sectionAbout{
    width : 90vw;
    margin: 10vh auto;
    position: relative;
    background-color: var(--grey-davy);
    border-radius: var(--large-radius);
    padding: 1em;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    @media screen and (min-width: 1281px) {
        width : 70vw;
        padding: 2em;

    }
}

.h2Head{

    font-size: var(--title-responsive);
    color: var(--white-platinium);
    line-height: 1.2em;

    @media screen and (min-width: 768px) {
        letter-spacing: 0.1em;
        font-size: var(--title-size);

    }
}
.figure {
    position: relative;
    width: 25vw;
    height: 25vw;
    @media screen and (min-width: 1080px) {
        position: relative;
        width: 10vw;
        height: 10vw;
    }
}

.image{
    object-fit: cover;
    border-radius: 50%;
}

.sectionAbout article:first-of-type {
    border-bottom: 2px solid var(--white-platinium);
    margin-top: 4em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    @media screen and (min-width: 1080px) {

        padding-bottom: 1em;
        display: flex;
        flex-direction: row;

    }

}

.h3{
    font-size: 2em;
    color: var(--white-platinium);
    letter-spacing: 0.1em;
    padding-bottom: 0.5em;

    @media screen and (min-width: 1080px) {
        padding-bottom: 0;
    }
}

.sectionAbout article {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    line-height: 1.8em;
    @media screen and (min-width: 1080px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2em 0;

    }
}

.sectionAbout p {
    @media screen and (min-width: 1281px) {
        width: 30vw;
    }
    @media screen and (min-width: 1024px) and (max-width: 1280px) {
        width: 50vw;

    }
}

.sectionAbout section {
    background-color: var(--blue-nuance);
    padding: 2em;
    border-radius: var(--large-radius);
    color: var(--white-pure);
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.link{
    position: absolute;
    right: 1vw;
    top: 1vh;

}

.buttonCarreer{

    background-color: var(--blue-nuance);
    border: none;
    color: var(--yellow-school-bus);
    font-family: var(--title-font) sans-serif;
    font-size: 1.2em;
    cursor: pointer;
    width:fit-content;

}