.sectionProject {
    width : 90vw;
    margin: 10vh auto;
    position: relative;
    background-color: var(--grey-davy);
    border-radius: var(--large-radius);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    @media screen and (min-width: 768px) {
        width : 70vw;
        padding: 2em;

    }
}

.articleHead{
    margin-bottom: 2em;

    @media screen and (min-width: 768px) {

    margin-bottom: 4em;
    }
}

.figureHead {
    position: relative;
    width: 90vw;
    height: 30vh;
    margin: auto;
    @media screen and (min-width: 768px) {
        width: 65vw;
        height: 40vh;

    }
}

.imageHead{
    object-fit: cover;
    border-radius: var(--large-radius);

}

.h2{
    font-size: 1.6em;
    color: var(--white-platinium);
    letter-spacing: var(--letter-spacing);
    padding : 0.5em 0 0 0.5em;
    @media screen and (min-width: 768px) {
        font-size: var(--title-size);
        padding : 0;
    }
}

.sectionLink{

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.articleProject{
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
    padding: 1em;
    @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4em;
    padding : 0;
    }
}

.sectionInfo{
    background-color: var(--blue-nuance);
    padding: 1em;
    border-radius: var(--large-radius);
    margin: auto;
    width: 80vw;
    @media screen and (min-width: 768px) {
        padding: 2em;
        width: 48vw;
        margin: 0;
    }

}
.figureProject{
    position: relative;
    width: 70vw;
    height: 30vh;
    margin-bottom: 1em;
    @media screen and (min-width: 768px) {

        width: 45vw;
        height: 50vh;

    }
}

.figureProject{
    object-fit: cover;
}


.h3 {
    font-size: 2em;
    color: var(--white-platinium);
    letter-spacing: 0.1em;
    padding-bottom: 0.5em;

    @media screen and (min-width: 768px) {
        padding-bottom: 0;
    }
}
.projectInfo {
    color: var(--white-platinium);
    letter-spacing: 0.1em;

}

.articleUi{
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
    padding: 1em;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding : 0;
    }
}

.figureUi{
    position: relative;
    width: 70vw;
    height: 30vh;
    margin: 0 auto 1em auto;
    @media screen and (min-width: 768px) {
    width: 45vw;
    height: 50vh;
    margin-bottom: 1em;
    }
}

.imageUi{
    object-fit: cover;
    object-position: center top;
    border-radius: var(--large-radius);

}

.articleAdmin{
    margin-bottom: 4em;
    padding: 1em;
    @media screen and (min-width: 768px) {
       margin-bottom: 4em;
       padding : 0;
    }
}

.sectionAdmin{
    display: flex;
    flex-direction: column;
    gap: 1em;
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

}

.figureAdmin{
    position: relative;
    width: 65vw;
    height: 30vh;
    @media screen and (min-width: 768px) {

        width: 25vw;
        height: 30vh;

    }

}

.imageAdmin{
    object-fit: contain;

}

.sectionAdmin .div{
    padding: 2em;
    margin: auto;
    border-radius: var(--large-radius);
    background-color: var(--blue-nuance);
}
.articleTech{
    padding: 1em;
    @media screen and (min-width: 768px) {
        padding : 0;
    }
}
.sectionTech{
    display:flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 0;
    @media screen and (min-width: 768px) {
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
        margin: 4em 0;

    }
}

.projectTech{
    border-radius: var(--large-radius);
    background-color: var(--blue-nuance);
    text-align: center;
    padding: 1em;
    color:var(--white-platinium);
    font-size: 1em;
    letter-spacing: 0.1em;
    @media screen and (min-width: 768px) {
        font-size: 1.3em;

    }
}

.link {
    position: absolute;
    right: 2vw;
    top: 1vh;
    z-index: 1;
    @media screen and (min-width: 768px) {

    right: 3vw;
    top: 4vh;

    }

}

